.loginScreen{
    height: 100vh;
}
.logo-topo{
    width: 400px;
}
.forgot-pw{
    font-size: .7rem;
}
.submit-btn{
    cursor: pointer;
    background-color: #0099f1 !important;
    transition: 200ms;
}
.submit-btn:hover{
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.26);
    background-color: #00b9f1;
    transition: 500ms;
}
@media (min-width:700px){
    .loginScreen{
        background: url('../../assets/background-login.png');
    }
}